*{
    margin:0;
    padding:0;
  }
  body{
    background-color: #009688;
  }
  .quote{
    margin:10% auto;
    padding: 20px 40px;
    width: 550px;
    height: auto;
    display: table;
    position :relative;
    background: #333333;
    color: #009688;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Alegreya', serif;

  }
  #quote-text{
    margin: 10px;
    font-size: 20px;
    text-align: center;
  }
  #quote-author{
    margin: 18px;
    font-size: 15px;
    font-style: italic;
    text-align: right;
  }
#quote-footer{
  height: 40px;
  background-color: #333333;
  color: #1DE9B6;
  margin: 20px auto;
  text-align: center;
} 

#btn{
  width: 20%;
  height: 30px;
  background-color: #1DE9B6;
  color: #333333;
  border: none;
  margin: 10px 20px 0 20px;
  border-radius: 7px;
  font-weight: 900;
}
#btn:hover{
  background-color: #009688;
}
#btn:focus{
  outline: none; 
}

.social {
  width: 20%;
  font-size: 20px;
  margin: 10px 20px 0 10px;
  float: center;
  color:  #1DE9B6;
}
.social:hover{
  color: #009688;
}
footer{
  position: fixed;
  bottom: 50;
  right: 50%;
  height: 10px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  
}
@media only screen and (max-width: 600px) {
  .quote{
    margin:20% auto;
    width: 350px;

  }
  #quote-text{
    margin: 5px;
    font-size: 17px;
    text-align: center;
  }
  #quote-author{
    margin: 10px;
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }
#quote-footer{
  height: 20px;
  background-color: #333333;
  color: #1DE9B6;
  margin: 20px auto;
  text-align: center;
}
#btn{
  width: 20%;
  height: 30px;
  font-size: 10px;
}
}